body {
  margin: 0;
}

.page-section {
  padding: 20px;
}

.navbar-nav .nav-link.active {
  color: #fff !important;
  background-color: #0d6efd;
  border-radius: 5px;
}

/* LOGIN OVERLAY */
#login-page {
  background: linear-gradient(135deg, #06beb6, #48b1bf);
  position: fixed;
  inset: 0;
  z-index: 9999;
}

/* HOME BACKGROUND */
#home-page {
  background-image: url("/assets/images/pos-home-background-img.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: calc(100vh - 56px);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
}
