.page {
    display: none;
    padding: 2rem;
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
    background-color: azure;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
          background-color: #498dd1;

}

    
    .form-section {
      background-color: #dd6262;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    