body {
  /* background-color: #f8f9fa; */
}

.page-section {
  padding: 20px;
}

.navbar-nav .nav-link.active {
  color: #fff !important;
  background-color: #0d6efd;
  border-radius: 5px;
}

#login-page {
  background-color: rgb(82, 236, 236);
  position: fixed;
  width: 100vw;      
  height: 100vh;
  z-index: 9999;
}

#home-page {
  position: relative;
  background-size: cover;         /* fill the section */
  background-position: center;    /* center image */
  background-repeat: no-repeat;   /* avoid tiling */
  color: rgb(180, 72, 72);                   /* make text visible */
  min-height: 100vh;              /* full screen height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 0 2px 6px rgba(0,0,0,0.7);
}
